<div class="panel panel-default">
  <div class="panel-heading my-panel">
    <div  class="my-icon">
    <img src="http://placehold.it/80x80" alt="user icon" class="img-circle img-responsive">
      <span >Panel heading without title</span>
    </div>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cum hic minima nemo ratione rerum, similique temporibus
    ut voluptate voluptatem? Architecto deleniti fuga obcaecati praesentium quam vero vitae voluptas. Sapiente.
  </div>
  <div class="panel-footer my-panel"><a>Panel</a> 发表于 2019-02-20</div>
</div>

<ul class="pagination my-ceter">
  <li><a href="#">&laquo;&ensp;第一页</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li class="active"><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">最后一页&ensp;&raquo;</a></li>
</ul>
