<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#" class="navbar-brand">莫洛想</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">最新</a></li>
      <li><a href="#">最热&ensp;<span class="badge">23</span></a></li>
      <!--<li><a href="#">我的博客</a></li>-->
    </ul>

    <form action="#" class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="请输入关键词">
      </div>
      <button type="submit" class="btn btn-default">搜索</button>
    </form>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login">登录</a></li>
      <li><a href="/register">注册</a></li>
    </ul>
  </div>
</nav>

